*{
  box-sizing: border-box;
  padding: 0;
}

body{
  font-family: helvetica, arial, sans-serif;
}

h1{
  color: khaki;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
  background: url(../img/pattern.jpeg);
  background-size: cover;
  margin: 20px 0;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
  margin: 20px 0;
}

#brushes{
  background-color: mediumspringgreen;
}


#art_frames{
  background-color: lightcoral;
}

#paint{
  background-color: skyblue;
}

h3{
  margin: 20px 0;
}

.prices{
  font-weight: bold;
  color: blue;
}

/**.content img{
  margin: 20px 0;
} **/
